<div>
  <div class="flex flex-col gap-4">
    <div class="flex">
      <p class="font-medium w-[100px]">Họ tên</p>
      <p>{{ user.fullname }}</p>
    </div>

    <div class="flex">
      <p class="font-medium w-[100px]">Email</p>
      <p>{{ user.email }}</p>
    </div>

    <div class="flex">
      <p class="font-medium w-[100px]">Giới tính</p>
      <p>{{ !user.gender ? "Nam " : "Nữ" }}</p>
    </div>

    <div class="flex">
      <p class="font-medium w-[100px]">Ngày sinh</p>
      <p>{{ user.birthday }}</p>
    </div>
  </div>
</div>
